<header class="site">
        <div class="box">
            <img src="/images/header02.png">
            <span class="caption simple-caption">
                <p>Lisbon - The 25th of April Bridge</p>
            </span>
        </div>
    <h1 class="name">
        <a href="/index.html">Arnaud Christ</a>
        <a href="/about.html" class="more">more</a>
    </h1>

    <ul class="menu">
        <li>
            <a href="/index.html">posts</a>
        </li>
        <li>
            <a href="/projects.html">projects</a>
        </li>
        <li>
            <a href="/photo.html">photography</a>
        </li>
    </ul>

    <div class="separator"></div>
</header>