<header class="site">
    <a href="#">
        <img src="/images/header01.png" class="header-image">
    </a>
    <h1 class="name">
        <a href="#">Arnaud Christ</a>
        <a href="#" class="more">plus</a>
    </h1>

    <ul class="menu">
        <li>
            <a href="#">
                <i class="icon-blog"></i>
                <span>blog</span>
            </a>
        </li>
        <li>
            <a href="#">projets</a>
        </li>
        <li>
            <a href="#">photographie</a>
        </li>
    </ul>

    <div class="separator"></div>
</header>