<header class="site">
        <div class="box">
            <img src="/images/header02.png">
            <span class="caption simple-caption">
                <p>Lisbonne - Pont du 25 Avril</p>
            </span>
        </div>
    <h1 class="name">
        <a href="#">Arnaud Christ</a>
        <a href="#" class="more">plus</a>
    </h1>

    <ul class="menu">
        <li>
            <a href="#">
                <i class="icon-blog"></i>
                <span>blog</span>
            </a>
        </li>
        <li>
            <a href="#">projets</a>
        </li>
        <li>
            <a href="#">photographie</a>
        </li>
    </ul>

    <div class="separator"></div>
</header>