<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Open Sans font - From Google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

        {% include header.html %}

        <div class="container">
          <div class="site">
     
                {{ content }}

          </div>
        </div> <!-- /container -->

        <div class="separator"></div>

        <footer>
            <ul>
                <li>
                    <a href="https://twitter.com/arn_aud" class="symbol" target="_blank">&#xe086;</a>
                </li>
                <li>
                    <a href="https://github.com/Onra" class="symbol" target="_blank">&#xe037;</a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/pub/arnaud-christ/31/a7/560" class="symbol" target="_blank">&#xe052;</a>
                </li>
                <li>
                    <a href="https://plus.google.com/+ArnaudChrist" class="symbol" target="_blank">&#xe039;</a>
                </li>
                <li>
                    <a href="#" class="symbol">&#xe071;</a>
                </li>
            </ul>
        </footer>

    </body>
</html>
