<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Font used in the header -->
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

        <!-- Open Sans font - From Google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

        {% include header.html %}

        <div class="container">
          <div class="site">

                {{ content }}

          </div>
        </div> <!-- /container -->

        <div class="separator"></div>

        <footer>
            <ul>
                <li>
                    <a href="https://twitter.com/arn_aud" class="symbol" target="_blank">&#xe086;</a>
                </li>
                <li>
                    <a href="https://github.com/Onra" class="symbol" target="_blank">&#xe037;</a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/pub/arnaud-christ/31/a7/560" class="symbol" target="_blank">&#xe052;</a>
                </li>
                <li>
                    <a href="https://plus.google.com/+ArnaudChrist" class="symbol" target="_blank">&#xe039;</a>
                </li>
                <li>
                    <a href="#" class="symbol">&#xe071;</a>
                </li>
            </ul>
        </footer>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-45933965-1', 'onra.github.io');
            ga('send', 'pageview');

        </script>
    </body>
</html>
